<div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3">
    <form th:action="@{/mentoring/room}" method="post" name="chatRoomSave">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group input-group-outline">
                    <label class="form-label">방 제목</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group input-group-outline">
                    <label class="form-label">비밀번호 4자리 숫자</label>
                    <input type="password" class="form-control" id="password" name="password" maxlength="4">
                </div>
            </div>

            <div class="col-md-3">
                <button id="btn-create" class="btn btn-warning">1:1 채팅방 개설</button>
            </div>
        </div>
    </form>
    <table class="table table-hover table-sm">
        <thead>
        <th>멘토링 1:1 채팅방</th>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <form action="/mentoring/room" method="get" name="roomIn">
                <input type="hidden" name="roomId" th:value="${room.roomId}">
                <td><input type="button" class="btn btn-link btn-lg"
                           th:onclick="roomPwCheck(123)" th:value="${room.name}"></td>
            </form>
            <span th:if="(${#strings.equals(session['loginEmail'],'phl1021@naver.com')} or ${session.loginNick}==${room.chatMentor})">
                <td>
                    <button type="button" class="btn btn-danger" th:onclick="deleteById([[${room.chatRoomId}]])">
                        채팅방 삭제
                    </button>
                </td>
                </span>
        </tr>
        </tbody>
    </table>
</div>
</div>

</div>
</body>

<script th:inline="javascript">
    $("#btn-create").on("click", function (e) {
        e.preventDefault();

        let name = $("input[name='name']").val();
        let password = $("#password").val();
        const chatRoomSave = document.forms["chatRoomSave"];

        console.log(password);
        //채팅방 이름 체크
        if (name == "") {
            alert("채팅방 이름을 적어주세요")
        } else {
            //비밀번호 입력 체크
            if (password == null || isNaN(password)) {
                alert("방 비밀번호 4자리 숫자를 입력해주세요.")
            } else {
                alert(name + "방이 개설되었습니다.");
                chatRoomSave.submit();
            }
        }
    });

    function deleteById(chatRoomId) {
        const reqUrl = "/mentoring/chat/" + chatRoomId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }

    //채팅방 비밀번호 체크
    function roomPwCheck(roomPw) {
        let roomPwCheck = prompt("채팅방 비밀번호를 입력하세요.");
        const roomIn = document.forms["roomIn"];
        if (roomPw == 123) {
            roomIn.submit();
        } else {
            alert('비밀번호가 틀렸습니다.');
        }
    }


</script>